@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

$mobileBreakPoint: 576px;
* {
    border: 1px solid yellow;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    background-image: url(../images/mobile.png);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    height: 2900px;

    .container {
        height: 100%;
        margin: 0 auto;
        width: 87%;
    }

    .opacity {
        height: 100%;
        opacity: 0.9;
        width: 100%;

        .header-top {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 1;
            width: 100%;
            height: 13vh;
            nav {
                width: 100%;
                h1{
                    text-align: center;
                    color: green;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 13vh;
                }
                img{
                    height
                }

            }
        }

        .content-background {
            background-image: url(../images/Web_0008_Layer-5.png);
            background-repeat: no-repeat;
            height: 30vh;
            width: 100%;
            position: relative;
            @media (min-width: 992px) {
                height:96vh;
            }
            @media (min-width: 600px) {
                height:63vh;
            }
            .content-background-text {
                color: white;
                margin-right: 10px;
                width: 50%;
                h1 {
                    font-size: 38px;
                    padding-top: 21vh;
                    font-weight: 700;
                }
                p {
                    padding-top: 2vh;
                }
                @media (max-width: 600px) {
                    width:100%;
                }
            }
            .content-background-phone {
                background-image: url(../images/mobile_0001_iPhone.png);
                background-repeat: no-repeat;
                bottom: -22%;
                height: 462px;
                position: absolute;
                right: 12%;
                width: 378px;
                @media (max-width: 600px) {
                    display:none
                }
            }
        }
        .content-text {
            h1 {
                font-weight: 300;
                font-size: 40px;
                padding-top: 85px;
            }
            p {
                padding-top: 31px;
                font-size: 20px;
                line-height: 28px;
            }
        }
        .item {
            color: white;
            height: 280px;
            padding-left: 44px;
            width: 100%;
            @media (max-width: 600px) {
                padding-left: 0px;
            }
            h2 {
                font-size: 34px;
                font-weight: 300;
                padding-top: 0px;
                @media (min-width: 600px) {
                    padding-top: 42px;
                }
            }
            p {
                font-size: 18px;
                margin-bottom: 0px;
                padding-top: 10px;
                @media (min-width: 600px) {
                    margin-bottom: 36px;
                }
            }
            a {
                background-color: inherit;
                border: none;
                color:white;
                cursor: pointer;
                font-size: 20px;
                font-weight: 700;
                text-decoration:none;
            }
        }

        .item-first {
            background-color: grey;
            margin-top: 52px;
        }
        .item-second {
            background-color: darkgreen;
        }
        .item-third {
            background-color: darkblue;
        }
        .item-quarter {
            background-color: green;
        }
    }
}


// tutaj media query!!!!!!!
//

//

//
